<div class="header">
  <div class="header-content">
    <div class="header-logo"><img src="/assets/logo.png"></div>
    <div class="header-sub">USA Border Wait Times Information</div>
  </div>
</div>

<%# Drop down selector %>
<%#= collection_select(:id, :port_name, Port.all, :id, :port_name) %>
<div class="content">
  <div class="row">
    <div class="column">
      <div class="column-title">Canada --> USA</div>
      <% @canada.each do |port| %>
        <ol>
          <div class="port-name"><%= link_to port.port_name, port %></div>
          <%= port.crossing_name %><span class="port-space">|</span>Hours: <%= port.hours %>
        </ol>
      <% end %>
    </div>

    <div class="column">
      <div class="column-title">Mexico --> USA</div>
      <% @mexico.each do |port| %>
        <ol>
          <div class="port-name"><%= link_to port.port_name, port %></div>
          <%= port.crossing_name %><span class="port-space">|</span>Hours: <%= port.hours %>
        </ol>
      <% end %>
    </div>
  </div>
</div>
<div class="footer">Data provided by US Border Patrol</div>