<div class="content">
  <div class="row">
    <div class="column">
      <div class="column-title">Canada --> USA</div>
      <% @canada.each do |port| %>
        <ol>
          <div class="port-name"><%= link_to port.port_name, port %></div>
          <%= port.crossing_name %><span class="port-space">|</span>Hours: <%= port.hours %>
        </ol>
      <% end %>
    </div>

    <div class="column">
      <div class="column-title">Mexico --> USA</div>
      <% @mexico.each do |port| %>
        <ol>
          <div class="port-name"><%= link_to port.port_name, port %></div>
          <%= port.crossing_name %><span class="port-space">|</span>Hours: <%= port.hours %>
        </ol>
      <% end %>
    </div>
  </div>
</div>