<div class="header">
  <div class="header-content">
    <div class="header-logo"><%= image_tag "logo.png"%></div>
    <div class="header-sub">USA Border Wait Times Information</div>
  </div>
</div>

<div class="content status">
  <div class="home-link"><%= link_to "< BACK", ports_path %></div>
  <div class="content-card">
    <div class="port-header">
      <div class="port-name"><%= @status.port.port_name %></div>
      <div class="port-updated">Data last updated: <%= @status.date %></div>
    </div>
    <div class="crossing-header">
      <div class="crossing-name"><%= @status.port.crossing_name %></div>
      <div class="port-status-text">Port Status: <%= @status.port_status %></div>
    </div>

    <% if @status.pass_max_lanes.to_i == 0 %>
        <% %>
    <% else %>
      <fieldset>
        <div class="crossing-type">
          <div>
            <div class="icon pass"><%= image_tag "icon_passengers.png"%></div>
            <div class="crossing-text">Passenger Vehicles</div>
          </div>
          <div class="crossing-moreInfo">Max Lanes: <%= @status.pass_max_lanes %>, Updated: <%= @status.pass_standard_update_time%></div>
        </div>
        <div class="row">
          <div class="status-column">
            <div class="lane-type">Standard Lanes</div>
            Status: <%= @status.pass_standard_operational_status %><br>
            Delay: <%= @status.pass_standard_delay_minutes %> mins<br>
            Lanes Open: <%= @status.pass_standard_lanes_open %>
          </div>
          <div class="status-column">
            <div class="lane-type">Ready Lanes</div>
            Status: <%= @status.pass_ready_operational_status %><br>
            Delay: <%= @status.pass_ready_delay_minutes %> mins<br>
            Lanes Open: <%= @status.pass_ready_lanes_open %>
          </div>
          <div class="status-column">
            <div class="lane-type">SENTRI Lanes</div>
            Status: <%= @status.pass_sentri_operational_status %><br>
            Delay: <%= @status.pass_sentri_delay_minutes %> mins<br>
            Lanes Open: <%= @status.pass_sentri_lanes_open %>
          </div>
        </div>
      </fieldset>
    <% end %>

    <% if @status.ped_max_lanes.to_i == 0 %>
        <% %>
    <% else %>
      <fieldset>
        <div class="crossing-type">
          <div>
            <div class="icon ped"><%= image_tag "icon_pedestrian.png"%></div>
            <div class="crossing-text">Pedestrians</div>
          </div>
          <div class="crossing-moreInfo">Max Lanes: <%= @status.ped_max_lanes %>, Updated <%= @status.ped_standard_update_time%></div>
        </div>
        <div class="row">
          <div class="status-column">
            <div class="lane-type">Standard Lanes</div>
            Status: <%= @status.ped_standard_operational_status %><br>
            Delay: <%= @status.ped_standard_delay_minutes %> mins<br>
            Lanes Open: <%= @status.ped_standard_lanes_open %><br>
          </div>
          <div class="status-column">
            <div class="lane-type">Ready Lanes</div> 
            Status: <%= @status.ped_ready_operational_status %><br>
            Delay: <%= @status.ped_ready_delay_minutes %> mins<br>
            Lanes Open: <%= @status.ped_ready_lanes_open %><br>
          </div>
        </div>
      </fieldset>
    <% end %>

    <% if @status.comm_max_lanes.to_i == 0 %>
        <p></p>
    <% else %>
      <fieldset>
        <div class="crossing-type">
          <div>
            <div class="icon pass"><%= image_tag "icon_commercial.png"%></div>
            <div class="crossing-text">Commercial Vehicles</div>
          </div>
          <div class="crossing-moreInfo">Max Lanes: <%= @status.comm_max_lanes %>, Updated <%= @status.comm_standard_update_time%></div>
        </div>
        <div class="row">
          <div class="status-column">
            <div class="lane-type">Standard Lanes</div> 
            Status: <%= @status.comm_standard_operational_status %><br>
            Delay: <%= @status.comm_standard_delay_minutes %> mins<br>
            Lanes Open: <%= @status.comm_standard_lanes_open %><br>
          </div>
          <div class="status-column">
            <div class="lane-type">FAST Lanes</div> 
            Status: <%= @status.comm_fast_operational_status %><br>
            Delay: <%= @status.comm_fast_delay_minutes %> mins<br>
            Lanes Open: <%= @status.comm_fast_lanes_open %><br>
          </div>
        </div>
      </fieldset>
    <% end %>
  </div>

</div>