<h1><%= @status.port.port_name %> | <%= @status.port.crossing_name %></h1>
Port Status: <%= @status.port_status %><br>
Data last updated: <%= @status.date %><br><br>

<% if @status.pass_max_lanes.to_i == 0 %>
    <% %>
<% else %>
  <fieldset>
    <legend>Passenger Vehicles | Max Lanes: <%= @status.pass_max_lanes %> | Updated: <%= @status.pass_standard_update_time%></legend>
    <div class="row">
      <div class="status-column">
        Standard Lanes<br> 
        Status: <%= @status.pass_standard_operational_status %><br>
        Delay: <%= @status.pass_standard_delay_minutes %> mins<br>
        Lanes Open: <%= @status.pass_standard_lanes_open %>
      </div>
      <div class="status-column">
        SENTRI Lanes<br> 
        Status: <%= @status.pass_sentri_operational_status %><br>
        Delay: <%= @status.pass_sentri_delay_minutes %> mins<br>
        Lanes Open: <%= @status.pass_sentri_lanes_open %>
      </div>
      <div class="status-column">
        Ready Lanes<br> 
        Status: <%= @status.pass_ready_operational_status %><br>
        Delay: <%= @status.pass_ready_delay_minutes %> mins<br>
        Lanes Open: <%= @status.pass_ready_lanes_open %>
      </div>
    </div>
  </fieldset><br>
<% end %>

<% if @status.ped_max_lanes.to_i == 0 %>
    <% %>
<% else %>
  <fieldset>
    <legend>Pedestrians | Max Lanes: <%= @status.ped_max_lanes %> | Updated <%= @status.ped_standard_update_time%></legend>
    <div class="row">
      <div class="column">
        Standard Lanes<br> 
        Status: <%= @status.ped_standard_operational_status %><br>
        Delay: <%= @status.ped_standard_delay_minutes %> mins<br>
        Lanes Open: <%= @status.ped_standard_lanes_open %><br><br>
      </div>
      <div class="column">
        Ready Lanes<br> 
        Status: <%= @status.ped_ready_operational_status %><br>
        Delay: <%= @status.ped_ready_delay_minutes %> mins<br>
        Lanes Open: <%= @status.ped_ready_lanes_open %><br>
      </div>
    </div>
  </fieldset><br>
<% end %>

<% if @status.comm_max_lanes.to_i == 0 %>
    <p></p>
<% else %>
  <fieldset>
    <legend>Commercial Vehicles | Max Lanes: <%= @status.comm_max_lanes %> | Updated <%= @status.comm_standard_update_time%></legend>
    <div class="row">
      <div class="column">
        Standard Lanes<br> 
        Status: <%= @status.comm_standard_operational_status %><br>
        Delay: <%= @status.comm_standard_delay_minutes %> mins<br>
        Lanes Open: <%= @status.comm_standard_lanes_open %><br><br>
      </div>
      <div class="column">
        FAST Lanes<br> 
        Status: <%= @status.comm_fast_operational_status %><br>
        Delay: <%= @status.comm_fast_delay_minutes %> mins<br>
        Lanes Open: <%= @status.comm_fast_lanes_open %><br><br>
      </div>
    </div>
  </fieldset>
<% end %>

<%= link_to "Home", ports_path %>