<h1><%= @port.port_name%></h1>

<fieldset>
  <legend>Passenger Vehicles | Max Lanes: <%= @port.pass_max_lanes %></legend>
  Standard Lanes | Updated: <%= @port.pass_standard_update_time%><br> 
  Status: <%= @port.pass_standard_operational_status %><br>
  Delay: <%= @port.pass_standard_delay_minutes %> mins<br>
  Lanes Open: <%= @port.pass_standard_lanes_open %><br><br>
  
  SENTRI Lanes | Updated <%= @port.pass_sentri_update_time%><br> 
  Status: <%= @port.pass_sentri_operational_status %><br>
  Delay: <%= @port.pass_sentri_delay_minutes %> mins<br>
  Lanes Open: <%= @port.pass_sentri_lanes_open %><br><br>
  
  Ready Lanes | Updated <%= @port.pass_ready_update_time%><br> 
  Status: <%= @port.pass_ready_operational_status %><br>
  Delay: <%= @port.pass_ready_delay_minutes %> mins<br>
  Lanes Open: <%= @port.pass_ready_lanes_open %><br>
</fieldset><br>

<fieldset>
  <legend>Pedestrians | Max Lanes: <%= @port.ped_max_lanes %></legend>
  Standard Lanes | Updated <%= @port.ped_standard_update_time%><br> 
  Status: <%= @port.ped_standard_operational_status %><br>
  Delay: <%= @port.ped_standard_delay_minutes %> mins<br>
  Lanes Open: <%= @port.ped_standard_lanes_open %><br><br>
  
  Ready Lanes | Updated <%= @port.ped_ready_update_time%><br> 
  Status: <%= @port.ped_ready_operational_status %><br>
  Delay: <%= @port.ped_ready_delay_minutes %> mins<br>
  Lanes Open: <%= @port.ped_ready_lanes_open %><br>

</fieldset><br>

<fieldset>
  <legend>Commercial Vehicles | Max Lanes: <%= @port.comm_max_lanes %><</legend>
  Standard Lanes | Updated <%= @port.comm_standard_update_time%><br> 
  Status: <%= @port.comm_standard_operational_status %><br>
  Delay: <%= @port.comm_standard_delay_minutes %> mins<br>
  Lanes Open: <%= @port.comm_standard_lanes_open %><br><br>

  FAST Lanes | Updated <%= @port.comm_fast_update_time%><br> 
  Status: <%= @port.comm_fast_operational_status %><br>
  Delay: <%= @port.comm_fast_delay_minutes %> mins<br>
  Lanes Open: <%= @port.comm_fast_lanes_open %><br><br>
</fieldset>