<!DOCTYPE html>
<html>
  <head>
    <title>Espera - Border Wait Times</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111480949-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-111480949-1');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <div class="header">
      <div class="header-content">
        <div class="header-logo"><%= image_tag "logo.png"%></div>
        <div class="header-sub">Border Wait Times</div>
      </div>
    </div>

    <%= yield %>

  </body>
</html>
